{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "standard", "prettier","eslint:recommended",
    			"plugin:@typescript-eslint/recommended",
    			"prettier"],
  "rules": {
    "no-console": "off",
    "object-shorthand": "off"
  },
  "overrides": [
    {
      "files": ["**/*.html", "*.ts", "*.tsx"],
      "plugins": ["eslint-plugin-html", "@typescript-eslint"]
    }
  ],
  "parser": "@typescript-eslint/parser"
}
